*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(images/BG-Pattern.webp);
    background-size: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 222, 255, 0.743);
}

.main-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    transition: .5ms ease-in-out;

}

.vertical-container {
    display: flex;
    max-width: 16rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
}

.large-box, .small-box, .wide-box {
    border-radius: 1.5rem;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(27, 23, 45, 0.495);
    overflow: hidden;
    transition: 500ms ease-in-out;
}

.large-box:hover, .wide-box:hover, .small-box:hover {
    transition: 500ms ease-in-out;
    box-shadow: 0px 24px 32px 0px rgba(27, 23, 45, 0.743);
    transform: scale(1.5);
}

.wide-box:hover {
    height: 16rem;
    width: 16rem;
    transform: scale(1.5);
}

.small-box:hover {
    aspect-ratio: 1/1;
    transform: scale(2.5);
    border-radius: 0.75rem;
}

.large-box {
    height: 16rem;
    width: 16rem;
}

.wide-box{
    width: 100%;
    height: 8rem;
}

.small-box {
    height: 8rem;
    width: 7.6875rem;
    transition: 500ms ease-in-out;
}

.text-box {
    background-image: url(https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
    background-size: 100%;
}

.text-box:hover {
    font-size: 75%;
}

.title {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

div.title > * {
    margin: 0;
}

.profile-img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100px;
    margin: 8px !important;
}

.title p {
    font-weight: 100;
    padding-bottom: 20px;
}

.title h1 {
    color: rgb(10, 54, 107);
}

.title h2 {
    color: rgb(0, 34, 75);
}



